html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*table {
	border-collapse: collapse;
}

th, td {
	padding: 0px;
}*/

body {
	height: 100%;
	margin: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

div {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#instructions_area {
	/*border: 1px solid black;*/
	padding: 0px;
	margin: 10px auto;
	width: 55%;
	display: block;
}

#instructions {
	font-size: 16px;
	text-align: left;
	display: inline-block;
}

#task_area {
	width: 100%;
}

.prevBtn, .nextBtn {
	font-size: 14px;
}

#img_grid {
	display: inline-block;
	width: 80%;
	zoom: 1;
	display*: inline;
}

.img_row {
	margin: 0px;
	display: inline-block;
	width: 100%;
	zoom: 1;
	display*: inline;
}

.anno_img {
	margin: 5px;
	/*float: left;*/
	/*width: 50%;  make variable for dynamic grid sizes; 50% for 4 for now */
}

#response_area {
	margin: 15px
}

#annotext {
	width: 200px;
	height: 20px;
	font-size: 16px;
	display: inline-block;
}

#enterKeyword {
    width: 50px;
    height: 25px;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

#annochecks {
}

#submit {
	width:100px;
	height: 30px;
	font-size: 16px;
}